<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/42fb966e77.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="container" class="<%= showSidebar ? '' : 'no-sidebar' %>">
    <% if (showSidebar) { %>
        <div id="sidebar">
            <div>
                <div>
                    <h1>Aquí va un diseño épico</h1>
                </div>
                <div class="social-media">
                    <i class="fa-brands fa-youtube"></i>
                        <a href="https://www.youtube.com/@the42project-c8h" rel="noreferrer" target="_blank">
                        </a>
                        <a href="https://x.com/iker_velez" rel="noreferrer" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.goodreads.com/user/show/73995963-iker-v-lez-lucas" rel="noreferrer" target="_blank">
                            <i class="fa-brands fa-goodreads"></i>
                        </a>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
                        </li>
                        <li>
                            <a href="/referencias" class="<%= isActiveRoute('/referencias', currentRoute) %>">Referencias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <% } %>
    <main class="main">
        <%- include('../partials/header.ejs') %>
        <div class="contenedor__design">
            <div class="contenido-principal">
        <%- body %>
            </div>
        <% if ( showCofre === false) { %>
            <div class="diseño-llamativo">
                <%- include('../partials/diseño.ejs') %>
                    </div>
        <% } else { %>
            <div class="diseño-llamativo">
                <%- include('../partials/diseñoCofre.ejs') %>
            </div>
        <% } %>
        </div>
        <%- include('../partials/footer.ejs') %>
    </main>
</div>
</body>
</html>